<p id="notice"><%= notice %></p>

<h1>Exemplos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exemplos.each do |exemplo| %>
      <tr>
        <td><%= exemplo.name %></td>
        <td><%= link_to 'Show', exemplo %></td>
        <td><%= link_to 'Edit', edit_exemplo_path(exemplo) %></td>
        <td><%= link_to 'Destroy', exemplo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exemplo', new_exemplo_path %>
